[submodule "luaConf/luaMode"]
	path = luaConf/luaMode
	url = https://github.com/immerrr/lua-mode.git
[submodule "commonConf/companyMode"]
	path = commonConf/companyMode
	url = https://github.com/company-mode/company-mode.git
[submodule "webDevConf/js2"]
	path = webDevConf/js2
	url = https://github.com/mooz/js2-mode.git
[submodule "webDevConf/webMode"]
	path = webDevConf/webMode
	url = https://github.com/fxbois/web-mode.git
[submodule "erlangConf/wrangler"]
	path = erlangConf/wrangler
	url = https://github.com/RefactoringTools/wrangler.git
[submodule "commonConf/helm"]
	path = commonConf/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "commonConf/smex"]
	path = commonConf/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "commonConf/powerline"]
	path = commonConf/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "phpConf/flymake-php"]
	path = phpConf/flymake-php
	url = https://github.com/purcell/flymake-php.git
[submodule "commonConf/flycheck"]
	path = commonConf/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "commonConf/auto-complete"]
	path = commonConf/auto-complete
	url = https://github.com/loptimus/auto-complete.git
[submodule "commonConf/fuzzy"]
	path = commonConf/fuzzy
	url = https://github.com/loptimus/fuzzy-el.git
[submodule "commonConf/popup"]
	path = commonConf/popup
	url = https://github.com/loptimus/popup-el.git
[submodule "themes/themes/monokai-emacs"]
	path = themes/themes/monokai-emacs
	url = https://github.com/loptimus/monokai-emacs.git
