*.dat
*.elc
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes
.svn
ebin/*
doc/*
tags
src/dets/*
/custom.el
init/local-init.el
init/keymap-init.el
/elpa
site-lisp/package/
/url/cache
/.emacs.desktop
/ido.last
/recentf
